/* Everything */
.graphiql-container {
  position: relative;
  display: flex;
  flex: 1;
  flex-direction: column;
  height: 100%;
  margin: 0;
  overflow: hidden;
  background-color: hsl(var(--color-base));
}

.graphiql-container::before,
.graphiql-container::after {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 10;
  width: 1px;
  background: rgb(95 98 105 / 10%);
  content: '';
}

.graphiql-container::before {
  left: 0;
}

.graphiql-container::after {
  right: 0;
}

/** toolbar */
.graphiql-container .graphiql-toolbar {
  display: flex;
  align-items: center;
  padding: 8px 12px 8px 20px;
  background: #f7f7f7;
}

.graphiql-container .graphiql-toolbar-btn {
  width: 64px;
  height: 24px;
  margin: 0 4px;
  color: #333;
  font-size: 12px;
  line-height: 24px;
  text-align: center;
  background: linear-gradient(180deg, #fff 0%, #f7f7f7 62%, #ebebeb 100%);
  border: 0 solid rgb(175 176 180 / 60%);
  border-radius: 2px;
  box-shadow: 0 1px 3px 0 rgb(120 125 139 / 14%);
  cursor: pointer;
}

.graphiql-container .graphiql-toolbar-divider {
  width: 1px;
  height: 14px;
  margin: 0 12px;
  background: rgb(175 176 180 / 60%);
  transform: scaleX(50%);
}

.graphiql-container .graphiql-toolbar-sequence-chart {
  margin-right: 12px;
  margin-left: auto;
  color: #333;
  font-size: 12px;
  cursor: pointer;
}

.graphiql-container .graphiql-toolbar-fullscreen {
  cursor: pointer;
}

.graphiql-container .graphiql-editor {
  position: relative;
  flex: 1;
  height: auto;
}

/* The query editor */
.graphiql-container .graphiql-query-editor-wrapper {
  display: flex;
  flex: 1;
}

.graphiql-container .graphiql-editor-tool {
  position: relative;
}

.graphiql-container .graphiql-editor-tool-resize-handler {
  position: absolute;
  left: 156px;
  top: 0;
  right: 0;
  height: 26px;
  z-index: 2;
}

.graphiql-container .graphiql-editor-tool .ant-tabs {
  height: 100%;
}

.graphiql-container .graphiql-editor-tool .ant-tabs-nav {
  margin-bottom: 12px;
  padding: 0 12px;
  padding-top: 2px;
  background: rgb(95 98 105 / 5%);
}

.graphiql-container .graphiql-editor-tool .ant-tabs-content-holder {
  min-height: 120px;
  padding: 0 12px;
  overflow: auto;
}

.graphiql-container .graphiql-editor-tool .ant-tabs-tab {
  padding: 2px 20px;
}

.graphiql-container .graphiql-editor-tool .ant-tabs-tab + .ant-tabs-tab {
  margin: 0;
}

.graphiql-container .graphiql-editor-tool .ant-tabs-tab-btn {
  color: #333 !important;
}

.graphiql-container .graphiql-editor-tool .ant-tabs-tab-active {
  background: #fff;
  border-radius: 6px 6px 0 0;
  box-shadow: 0 1px 4px 0 rgb(211 211 222 / 84%);
}

.graphiql-container .graphiql-editor-tool .ant-tabs-ink-bar {
  background: #649fff;
  transform: scaleX(0.2);
}

.graphiql-container .arguments-editor {
  overflow-x: auto;
}

.graphiql-container .arguments-editor table {
  width: 100%;
  table-layout: fixed;
}

.graphiql-container .arguments-editor th {
  height: 24px;
  padding: 4px 8px;
  color: #787d8b;
  font-size: 12px;
  line-height: 1;
  text-align: left;
  background: #f1f4fb;
}

.graphiql-container .arguments-editor th:first-child {
  overflow: hidden;
  border-radius: 3px 0 0 3px;
}

.graphiql-container .arguments-editor th:last-child {
  overflow: hidden;
  border-radius: 0 3px 3px 0;
}

.graphiql-container .arguments-editor td {
  padding: 4px 8px;
  overflow: hidden;
  color: #333;
}

.graphiql-container .arguments-editor td:nth-child(-n + 2) {
  white-space: nowrap;
  text-align: left;
  text-overflow: ellipsis;
}

.graphiql-container .arguments-editor td input {
  width: 100%;
  height: 28px;
  padding: 4px 8px;
  border-radius: 2px;
}
.graphiql-container .arguments-editor td input.ant-input {
  border: 1px solid rgb(175 176 180 / 50%);
}

.graphiql-container .arguments-editor .arguments-directive {
  display: inline-flex;
  align-items: center;
  /* width: 60px; */
  min-width: 60px;
  max-width: 45%;
  height: 24px;
  margin: 2px 4px 0;
  padding: 0 4px;
  background: linear-gradient(187deg, #fff 0%, #fffdfc 34%, #fff2ea 100%);
  border: 0 solid #ffb88a;
  border-radius: 4px;
  box-shadow: 0 1px 3px 0 rgb(120 125 139 / 14%);
}

.graphiql-container .arguments-editor .arguments-directive:nth-child(2n) {
  margin-left: 4px;
}

.graphiql-container .arguments-editor .arguments-directive:nth-child(n + 3) {
  margin-top: 4px;
}

.graphiql-container .arguments-editor .arguments-directive > span:first-child {
  flex: 1;
  overflow: hidden;
  color: #333;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.graphiql-container .arguments-editor .arguments-directive-remove {
  margin-left: 4px;
  font-size: 0;
  cursor: pointer;
}

.graphiql-container .arguments-editor .arguments-directive-remove > svg {
  font-size: 11px;
  color: rgb(95 98 105 / 60%);
}

/* Generic spin animation */
.graphiql-spin {
  animation: spin 0.8s linear 0s infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* Avoid showing native tooltips for icons with titles */
.graphiql-container svg {
  pointer-events: none;
}

.graphiql-editor-tool-tabs .ant-tabs-tabpane, .graphiql-editor-tool-tabs .ant-tabs-content {
  height: 100% !important;
}