.save-btn {
  width: 62px;
  height: 32px;
  padding: 0;
  background: linear-gradient(56deg, #ff9378 0%, #e13d5b 100%);
  border-radius: 2px;

  &:hover,
  &:focus {
    color: rgb(233 92 127);
    background: linear-gradient(56deg, #ff9378 0%, #e13d5b 100%);
    border-color: #e13d5b;
  }

  span {
    width: 33px;
    height: 20px;
    color: #fff;
    font-size: 14px;
  }
}

.center-btn {
  width: 62px;
  height: 32px;
  margin-left: 24px;
  margin-right: 16px;
  border-radius: 2px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.switch-check-btn {
  width: 60px;
  height: 24px;
  margin-right: 24px;
  background-color: #8abe2a;
  border-radius: 12px;
}

.SSL-open-btn {
  padding: 0;
  margin-right: 80px;
  width: 48px;
  height: 22px;
  line-height: 22px;
  background: rgba(138, 190, 42, 0.09);
  border-radius: 4px;
  border: 1px solid #8abe2a;
  font-size: 12px;
  font-weight: 400;
  color: #8abe2a;
}

.SSL-close-btn {
  padding: 0;
  width: 48px;
  height: 22px;
  line-height: 22px;
  background: #f8f8f9;
  border-radius: 4px;
  border: 1px solid rgba(175, 176, 180, 0.5);
  font-size: 12px;
  font-weight: 400;
  color: rgba(175, 176, 180, 0.8);
  &:hover,
  &:focus {
    color: #e13d5b;
    border-color: #e13d5b;
  }
}

.add-btn {
  color: #fff;
  background: linear-gradient(28deg, #ff9378 0%, #e13d5b 100%);
  &:hover,
  &:focus {
    color: #fff;
    background: linear-gradient(28deg, #ff9378 0%, #e13d5b 100%);
    border-color: #e13d5b;
  }
}
.switch-set-btn {
  width: 32px;
  height: 16px;
  margin-left: 12px;
  background-color: #8abe2a;
  border-radius: 12px;
}
.form-contain :global {
  .ant-form-item {
    margin-bottom: 20px;
  }
}
// filestorage-main-content 样式
.casader-select :global {
  box-shadow: none;
  .ant-cascader-menu-item {
    background-color: white;
    &:hover,
    &:focus {
      background-color: #f8f8f9;
    }
  }
  .anticon-right {
    visibility: hidden;
  }
  .ant-cascader-menu {
    border-right: none;
    width: 232px;
  }
}
.panel-style {
  img {
    margin-bottom: 9px;
  }
  Button {
    width: 257px;
    margin-top: 12px;
  }
}
.form-item-icon {
  width: 14px;
  height: 14px;
  color: #5f6269;
}

.role-container-table :global {
  .ant-table-cell{
    height: 10px;
    padding: 10px;
    padding-left: 43px;
  }
  .ant-table-cell::before {
    display: none;
  }
}
.role-table{
  background-color: #fafafa;
}
