.save-btn {
    width: 62px;
    height: 32px;
    background: linear-gradient(56deg, #ff9378 0%, #e13d5b 100%);
    border-radius: 2px;
  
    &:hover,
    &:focus {
      color: rgb(233 92 127);
      background: linear-gradient(56deg, #ff9378 0%, #e13d5b 100%);
      border-color: #e13d5b;
    }
  
    span {
      width: 33px;
      height: 20px;
      color: #fff;
      font-size: 14px;
    }
  }
  
  .center-btn {
    width: 62px;
    height: 32px;
    margin-left: 24px;
    margin-right: 16px;
    border-radius: 2px;
    border: 1px solid rgba(0, 0, 0, 0.1);
  }
 
 
  .form-contain :global {
    .ant-form-item {
      margin-bottom: 20px;
    }
  
    .ant-form-item-with-help .ant-form-item-explain {
      min-height: 10px;
      font-size: 10px;
    }
  }
  .db-check-setting {
    font-size: 14px;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: #e92e5e;
    line-height: 20px;
    margin-right: 8px;
  }

  .authHead {
      height: 17px;
      font-size: 12px;
      margin-top: 25px;
      font-family: PingFangSC-Regular, PingFang SC;
      font-weight: 400;
      color: rgba(0, 0, 0, 0.2500);
      line-height: 17px;
  }
// 角色配置
  .authBtn :global {
    Button {
      color: #E92E5E;
      margin-top: 14px;
      padding: 8px; 
    }
    .ant-switch {
      margin-top: 25px;
    }    
  }
  .switch-edit-btn {
    width: 32px;
    height: 16px;
    margin-left: 12px;
    background-color: #8abe2a;
    border-radius: 12px;
  }

  // auth更多设置style

  .setWord {
    span {
        width: 112px;
        height: 20px;
        font-size: 14px;
        font-weight: 400;
        color: #5F6269;
        line-height: 20px;
        margin-right: 61px;
    }
  }

  .authSetFrom :global {
    .ant-form-item {
      margin-bottom: 16px;
    }
    .ant-form-item-control-input {
      width: 420px;
      height: 32px;
      border-radius: 2px;
      border: 1px solid rgba(0, 0, 0, 0.1000);
    }
    .anticon-plus {
      width: 13px;
      height: 13px;
      color: rgba(175, 176, 180, 0.8000);
    }
    span {
      width: 48px;
      height: 17px;
      font-size: 12px;
      color: #AFB0B4;
      line-height: 17px;
    }
    .label-style  {
      height: 20px;
      font-size: 14px;
      font-weight: 400;
      color: #5F6269;
      line-height: 20px;
    }
   
  }
 