.edit-btn {
  width: 64px;
  height: 28px;
  padding: 0;
  font-size: 14px;
  background: linear-gradient(56deg, #ff9378 0%, #e13d5b 100%);
  border-radius: 2px;

  &:hover,
  &:focus {
    color: rgb(233 92 127);
    background: linear-gradient(56deg, #ff9378 0%, #e13d5b 100%);
    border-color: #e13d5b;
  }

  span {
    color: #fff;
    font-size: 14px;
    line-height: 18px;
  }
}

.design-btn {
  width: 62px;
  height: 32px;
  margin-right: 16px;
  border: 1px solid rgb(0 0 0 / 10%);
  border-radius: 2px;
}

.switch-check-btn {
  width: 60px;
  height: 24px;
  margin-right: 49px;
  background-color: #8abe2a;
  border-radius: 12px;
}

.switch-edit-btn {
  width: 32px;
  height: 16px;
  margin-left: 12px;
  background-color: #8abe2a;
  border-radius: 12px;
}

.descriptions-box :global {
  width: 1650px;
  border: 1px solid rgb(95 98 105 / 10%);
  border-radius: 4px;
}

.collapse-box :global {
  .ant-collapse > .ant-collapse-item > .ant-collapse-header {
    padding: 0;
  }

  .ant-collapse-content > .ant-collapse-content-box {
    padding: 0;
  }
}

.form-icon {
  color: #dbdcdd;
  font-size: 11px;
}

.label-style {
  width: 56px;
  height: 20px;
}

.add-btn {
  padding: 0;
  color: #fff;
  background: linear-gradient(28deg, #ff9378 0%, #e13d5b 100%);
  border-radius: 50%;

  &:hover,
  &:focus {
    color: #fff;
    background: linear-gradient(28deg, #ff9378 0%, #e13d5b 100%);
    border-color: #e13d5b;
  }
}

.list-title {
  width: 28px;
  height: 20px;
  color: #000;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
}

.connect-check-btn-common {
  height: 28px;
  padding: 0;
  background: #fff;
  border-radius: 2px;

  span {
    font-size: 14px;
    line-height: 18px;
  }
}

//自定义页面
.monaco {
  height: 452px;
  padding: 16px 0;
  border: 1px solid rgb(95 98 105 / 10%);
  border-radius: 4px;
}
