.connect-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 95px;
  height: 24px;
  padding: 0 10px;
  margin-top: 42px;
  margin-left: 150px;
  color: #d83860;
  font-size: 14px;
  background: linear-gradient(56deg, #fcf2f0 0%, #f3e5e5 100%);
  border-radius: 4px;

  &:hover,
  &:focus {
    color: rgb(233 92 127);
    background: #ebcec6;
    border-color: #e13d5b;
  }
}

.save-btn {
  width: 72px;
  height: 32px;
  color: #fafafa;
  background: linear-gradient(40deg, #ff9378 0%, #e13d5b 100%);
  border-radius: 4px;

  &:hover,
  &:focus {
    color: #f0d7d7;
    background: linear-gradient(40deg, #ff9378 0%, #e13d5b 100%);
    border-color: #e13d5b;
  }
}

.cancel-btn {
  width: 72px;
  height: 32px;
  margin-right: 30px;
  border: 1px solid rgb(95 98 105 / 10%);
  border-radius: 4px;

  &:hover,
  &:focus {
    color: #3d3333;
    border-color: skyblue;
  }
}

.form-contain :global {
  .ant-form-item {
    margin-bottom: 12px;
  }

  .ant-form-item-with-help .ant-form-item-explain {
    min-height: 10px;
    font-size: 10px;
  }
}

.db-form :global {
  .ant-form-item-label {
    width: 80px;
    text-align: left;
  }

  .ant-form-item {
    margin-bottom: 20px;
  }
  
  .ant-form-item-control {
    margin-left: 80px;
  }
}
