.connect-btn {
  width: 62px;
  height: 32px;
  background: linear-gradient(56deg, #ff9378 0%, #e13d5b 100%);
  border-radius: 2px;

  &:hover,
  &:focus {
    color: rgb(233 92 127);
    background: linear-gradient(56deg, #ff9378 0%, #e13d5b 100%);
    border-color: #e13d5b;
  }

  span {
    width: 33px;
    height: 20px;
    color: #fff;
    font-size: 14px;
  }
}

.switch-btn {
  width: 60px;
  height: 24px;
  margin-right: 7px;
  background-color: #8abe2a;
  border-radius: 12px;
}

.switch-btn2 {
  width: 32px;
  height: 16px;
  margin-left: 12px;
  background-color: #8abe2a;
  border-radius: 12px;
}

.descriptions-box {
  width: 1390px;
  border: 1px solid rgb(95 98 105 / 10%);
  border-radius: 4px;
}

.more-info {
  margin-top: 32px;
  margin-bottom: 12px;

  .more-icon {
    width: 8px;
    height: 8px;
    margin-right: 8px;
  }

  span {
    width: 32px;
    height: 22px;
    color: #5f6269;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
  }
}

.form-icon {
  color: #dbdcdd;
  font-size: 11px;
}
