.connect-btn {
  background: linear-gradient(56deg, #fcf2f0 0%, #f3e5e5 100%);
  border-radius: 4px;
  color: #d83860;
  width: 95px;
  height: 24px;
  margin-left: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding:0 10px;
  font-size: 14px;
  &:hover,
  &:focus {
    background: #ebcec6;
    color: rgb(233, 92, 127);
    border-color: #e13d5b;
  }
}

.save-btn {
  width: 72px;
  height: 32px;
  background: linear-gradient(40deg, #ff9378 0%, #e13d5b 100%);
  border-radius: 4px;
  color: #fafafa;
  &:hover,
  &:focus {
    background: linear-gradient(40deg, #ff9378 0%, #e13d5b 100%);
    color: #f0d7d7;
    border-color: #e13d5b;
  }
}

.cancel-btn {
  width: 72px;
  height: 32px;
  border-radius: 4px;
  border: 1px solid rgba(95, 98, 105, 0.1);
  margin-right: 16px;
  &:hover,
  &:focus {
    color: #3d3333;
    border-color: skyblue;
  }
}
