.connect-edit-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 95px;
  height: 24px;
  margin-top: 5px;
  padding: 0 10px;
  margin-left: 146px;
  color: #d83860;
  font-size: 14px;
  background: linear-gradient(56deg, #fcf2f0 0%, #f3e5e5 100%);
  border-radius: 4px;

  &:hover,
  &:focus {
    color: rgb(233 92 127);
    background: #ebcec6;
    border-color: #e13d5b;
  }
}
.connect-check-btn {
  padding: 0;
  width: 64px;
  height: 28px;
  font-size: 14px;
  background: linear-gradient(56deg, #ff9378 0%, #e13d5b 100%);
  border-radius: 2px;

  &:hover,
  &:focus {
    color: rgb(233 92 127);
    background: linear-gradient(56deg, #ff9378 0%, #e13d5b 100%);
    border-color: #e13d5b;
  }
  span {
    line-height: 18px;
    color: #fff;
    font-size: 14px;
  }
}

.connect-check-btn-common {
  height: 28px;
  padding: 0;
  background: #ffffff;
  border-radius: 2px;
  span {
    line-height: 18px;
    font-size: 14px;
  }
}

.db-check-setting {
  font-size: 14px;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: #e92e5e;
  line-height: 20px;
  margin-right: 8px;
}

.save-btn {
  width: 72px;
  height: 32px;
  color: #fafafa;
  background: linear-gradient(40deg, #ff9378 0%, #e13d5b 100%);
  border-radius: 4px;

  &:hover,
  &:focus {
    color: #f0d7d7;
    background: linear-gradient(40deg, #ff9378 0%, #e13d5b 100%);
    border-color: #e13d5b;
  }
}

.cancel-btn {
  width: 72px;
  height: 32px;
  margin-right: 30px;
  border: 1px solid rgb(95 98 105 / 10%);
  border-radius: 4px;

  &:hover,
  &:focus {
    color: #3d3333;
    border-color: skyblue;
  }
}

.form-contain :global {
  .ant-form-item {
    margin-bottom: 12px;
  }

  .ant-form-item-with-help .ant-form-item-explain {
    min-height: 10px;
    font-size: 10px;
  }
}

.des-contain :global {
  .ant-descriptions-row {
    height: 40px;
  }
}

.monaco {
  height: 452px;
  padding: 16px 0;
  border: 1px solid rgb(95 98 105 / 10%);
  border-radius: 4px;
}
