

.switch-check-btn {
  width: 60px;
  height: 24px;
  margin-right: 49px;
  border-radius: 12px;
}

.switch-edit-btn {
  width: 32px;
  height: 16px;
  margin-left: 12px;
  border-radius: 12px;
}

.form-icon {
  color: #dbdcdd;
  font-size: 11px;
}


.connect-check-btn-common {
  height: 28px;
  padding: 0;
  background: #fff;
  border-radius: 2px;

  span {
    font-size: 14px;
    line-height: 18px;
  }
}

.table-contain :global {
  .ant-table-cell {
    padding: 10px 18px;
  }
}

.redoc-container :global {
  .sc-jSMfEi {
    display: none;
  }
  .sc-elYLMi {
    display: none;
  }
  .sc-hKMtZM {
    width: 1200px;
  }
  .sc-kYWVYA {
    display: none;
  }
}
