# Not supported
*.!(js?(x)|ts?(x)|css|scss|sass|less|styl|json?(5)|markdown|md|mdx|graphql|vue|html|y?(a)ml)

# Compiled output
dist
node_modules

# Logs
logs

# OS
.DS_Store

# Tests
/coverage
/.nyc_output

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Lock files
pnpm-lock.yaml

# docker-compose
docker-compose.yml

# Libraries
public/
