.api-manage :global {
  .ant-tree-treenode {
    width: 100%;
    padding-left: 16px;
  }

  .ant-tree-node-content-wrapper {
    display: flex;
    flex: 1;
  }

  .ant-tree-title {
    flex: 1;
  }

  .ant-input {
    padding-top: 0;
    padding-bottom: 0;
  }
}

.divider {
  width: 2px;
  opacity: 0.5;
  border: 1px solid;
  border-image: linear-gradient(
      180deg,
      rgba(176, 165, 166, 0),
      rgba(227, 227, 227, 1),
      rgba(120, 108, 109, 0.2)
    )
    1 1;
}
