.pannel {
  padding: 0 16px;
  font-size: 18px;
  font-weight: 500;
}

.title {
  margin-top: 24px;
  margin-bottom: 24px;
  font-size: 16px;
}
.select {
  width: 100%;
}

.actions {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
}

.manage {
  border-top: 1px solid rgb(92, 87, 87);
}
.OptionIcon {
  margin-right: 10px;
}

.actions > :hover {
  opacity: 0.6;
}
.selectList {
  width: 20px;
}
.selectContain {
  margin-bottom: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
