.global :global {
  .graphiql-container .topBar {
    height: auto;

    .docExplorerWrap .doc-explorer-title-bar {
      height: auto;
    }

    div.docExplorerWrap > div.doc-explorer-title-bar > div.doc-explorer-rhs {
      display: none;
    }
  }
}
