.global :global(.graphiql-container .topBar) {
  height: auto;
}

.global :global(.docExplorerWrap .doc-explorer-title-bar) {
  height: auto;
}

.global :global(div.docExplorerWrap > div.doc-explorer-title-bar > div.doc-explorer-rhs) {
  display: none;
}
