.pannel {
  padding: 0 16px;
  font-weight: 500;
  font-size: 18px;
}

.title {
  margin-top: 24px;
  margin-bottom: 15px;
  height: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
}

.datasource-collapse :global {
  .ant-collapse-content-box {
    padding: 0 5px !important;
  }
  .ant-collapse-header {
    padding: 3px 12px;
  }
}
