.headerFilter,.headerConfig,.headerRefresh,.headerNewFold,.headerNewFile{
  width: 14px;
  height: 14px;
  margin-left: 8px;
}
.headerFilter{
  background: url(/assets/workbench/header-filter.png) no-repeat center/contain;
}
.headerRefresh{
  background: url(/assets/workbench/header-refresh.png) no-repeat center/contain;
}
.headerConfig{
  background: url(/assets/workbench/header-config.png) no-repeat center/contain;
}
.headerNewFold{
  background: url(/assets/workbench/header-new-fold.png) no-repeat center/contain;
}
.headerNewFile{
  background: url(/assets/workbench/header-new-file.png) no-repeat center/contain;
}

.treeContainer {
  padding: 7px 10px 7px 10px;

  :global {
    // 调整tree组件样式，如果需要可以将此处移入全局，移动后请注意优先级问题
    .ant-tree-treenode {
      position: relative;
      padding: 0 2px;
      height: 26px;
      display: flex;
      width: 210px; // 在折叠展开时，节点父元素会被切换，从而导致丢失父元素宽度，因此不能使用100%
      .ant-tree-node-content-wrapper {
        flex: 1 1 0;
        min-width: 0;
        padding: 0;
        height: 100%;
        background: none;
      }

      & > * {
        position: relative;
        z-index: 10;
      }
    }

    .ant-tree-switcher-icon {
      width: 12px;
      height: 12px;
      background: url(/assets/ant-tree/tree-arrow.png) no-repeat center/contain;

      > * {
        display: none;
      }

      transition: transform .3s;
    }

    .ant-tree-switcher_close .ant-tree-switcher-icon {
      transform: rotate(-90deg);
    }

    .ant-tree-switcher, .ant-tree-switcher-noop {
      width: 12px !important;
    }

    .ant-tree-indent-unit {
      width: 8px !important;
    }

    .ant-tree-treenode-selected {
      background: linear-gradient(270deg, rgba(255, 255, 255, 0.07) 0%, rgba(253, 240, 241, 0.08) 27%, rgba(238, 98, 108, 0.11) 100%) !important;
      border-radius: 4px;

      &::before {
        content: ' ';
        position: absolute;
        z-index: 1;
        left: 0;
        width: 2px;
        top: 0;
        bottom: 0;
        background: #EE626c;
      }
    }

    .ant-tree-treenode:hover {
      background: linear-gradient(270deg, rgba(255, 255, 255, 0.07) 0%, rgba(238, 98, 108, 0.05) 100%);
      border-radius: 4px;
    }
  }

  .treeItem {
    display: flex;
    align-items: center;
    width: 100%;
    padding-left: 5px;

    &.treeItemDir {
      .icon {
        position: relative;
        background: url(/assets/ant-tree/fold.png) no-repeat center/contain;
      }
    }
    &.treeItemFile {
      .icon{
        position: relative;
        background: url(/assets/ant-tree/file.png) no-repeat center/contain;

        &:after {
          background: url(/assets/ant-tree/file-icon.png) no-repeat center/contain;
        }
      }
    }
    &.treeItemErr {
      .icon {
        position: relative;
        background: url(/assets/ant-tree/file-err.png) no-repeat center/contain;
      }
      .title {
        color: #F21212;
      }
    }

    &.treeItemDisable {
      .icon{
        position: relative;
        background: url(/assets/ant-tree/file-disable.png) no-repeat center/contain;

        &:after {
          background: url(/assets/ant-tree/file-disable-icon.png) no-repeat center/contain;
        }
      }
      .title {
        color: #999;
      }
    }

    .icon {
      width: 12px;
      height: 12px;

      &:after {
        content: ' ';
        position: absolute;
        width: 8px;
        height: 8px;
        right: -1px;
        bottom: -1px;
      }
    }

    .title {
      flex: 1 1 0;
      min-width: 0;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      font-size: 14px;
      font-weight: 500;
      color: #333333;
      margin-left: 9px;
    }

    .suffix {
      flex: 0 0 auto;
      font-size: 12px;
      color: #999;

      .errLabel {
        // 为了突破最小字号进行了2倍放大后缩放50%，并通过负margin进行补偿
        width: 64px;
        height: 32px;
        line-height: 32px;
        margin: -8px -16px;
        background: rgba(253, 162, 162, 0.22);
        border-radius: 4px;
        font-size: 20px;
        font-weight: 400;
        color: #F21212;
        text-align: center;
        transform: scale(.5);
      }
    }
    &:hover .more{
      display: block;
      width: 12px;
      height: 12px;
      margin-left: 8px;
      background: url(/assets/workbench/icon-menu.png) no-repeat center/contain;
    }
    .more{
      display: none;
    }
  }
}