.ide-container-header :global{
    background-color: #f9f9f9;
    padding: 10px 13px;
    .ide-container-header-left {
        width: 24%;
        @media (max-width: 1980px) {
            width: 34%;
        }
        .title {
            color: #222222;
            font-size: 14px;
            font-weight: 600;
        }
        .save {
            font-size: 14px;
            color: #adadad;
        }
    }
    .ide-container-header-right {
        .name {
            color: #adadad;
            font-size: 14px;
        }
    }
}