/* stylelint-disable selector-class-pattern */
.tableNotInUseWrapper {
  display: flex;
  align-items: center;

  & > button {
    width: 64px;
    height: 28px;
  }
}

.icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  background: #f7f8fa;
}

.tableNameHeader {
  margin: 0 8px;
}

.tableNameInUseWrapper {
  display: flex;
  align-items: center;

  & img {
    width: 13px;
    height: 13px;
  }

  & > div:nth-child(2) {
    margin-left: 8px;

    & > h2 {
      margin: 0;
    }

    & > h3 {
      margin: 0;
      color: rgb(95 98 105 / 60%);
      font-size: 12px;
    }
  }
}

.tableNameEmailInUse {
  display: flex;
  align-items: center;
}

.tableWrapper {
  & * {
    color: rgb(0 0 0 / 85%);
  }

  :global {
    .ant-table-thead > tr > th {
      color: #787d8b;
      background: #fff;
    }

    & .ant-table-cell::before {
      display: none !important;
    }

    table {
      border: 1px solid rgb(95 98 105 / 10%);
    }
  }
}

.unused {
  :global {
    & .ant-badge-status-text {
      color: rgb(175 176 180 / 80%);
    }
  }
}

.headerWidth:global {
  & > .ant-table-cell:nth-child(1) {
    width: 40%;
    padding-left: 32px;
  }
}

.tableItemWidth:global {
  & > .ant-table-cell:nth-child(1) {
    padding-left: 32px;
  }
}
