.ide-action :global {
  border-top: 1px solid #efefef;
  padding: 13px 0 13px 0;
  .expand-action {
    height: 24vh;
  }
}

.input-container :global {
  position: relative;
  width: 50%;
  padding: 0 18px 0 14px;
  border-right: 1px solid #efefef;
  .title {
    color: #333;
    font-size: 14px;
    font-weight: 500;
    line-height: 14px;
    align-self: center;
  }
  .debug {
    position: absolute;
    bottom: 20px;
    right: 20px;
  }
}

.output-container :global {
  width: 50%;
  padding: 0 18px 0 14px;
  .title {
    color: #333;
    font-size: 14px;
    font-weight: 500;
    line-height: 14px;
    align-self: center;
  }
  .output {
    overflow-y: auto;
    height: 170px;
    .output-item {
      font-size: 14px;
      color: #5f6269;
      line-height: 24px;
    }
  }
}
.save-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 57px;
  height: 24px;
  background: linear-gradient(242deg, #ffece4 0%, #fdecee 51%, #fdecf0 100%);
  box-shadow: 0px 2px 4px 0px rgba(204, 192, 195, 0.46);
  border-radius: 2px;
  border: none;
  color: #333;
  padding: 0;
  :global {
    .anticon + span {
      margin-left: 3px;
    }
  }
  &:active,
  &:focus,
  &:hover {
    color: #333;
    border: none;
    background: linear-gradient(242deg, #ffece4 0%, #fdecee 51%, #fdecf0 100%);
  }
}
