.first-guide {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.first-divider {
  margin: 24px 0;
}

.second-divider {
  margin: 20px 0;
}

.notice-main :global {
  margin-bottom: 30px;

  .ant-tag {
    height: 22px;
    margin-top: 3px;
  }
}
