/* stylelint-disable selector-class-pattern */
.return {
  margin-bottom: 25px;
  padding-bottom: 5px;
  color: #5f6269;
  font-size: 12px;
  border-bottom: 1px solid rgb(95 98 105 / 10%);
  cursor: pointer;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.headerLeft {
  display: flex;
  align-items: center;
}

.icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 41px;
  height: 41px;
  background: #f7f8fa;
}

.headerIcon {
  width: 40px;
  height: 40px;
}

.titleWrapper {
  margin-left: 15px;
}

.subHeading {
  display: flex;
  align-items: center;
}

.h1 {
  margin-bottom: 0;
  font-size: 16px;
}

.titleType {
  padding: 0 8px;
  color: #5f6269;
  font-size: 12px;
  background: #f7f8fa;
  border-radius: 9px;
}

.status {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 62px;
  height: 17px;
  margin-bottom: 0;
  margin-left: 16px;
  background: rgb(176 230 207 / 26%);
  border-radius: 9px;

  & span {
    font-size: 12px;

    & > span:nth-child(2) {
      margin-left: 4px;
    }
  }
}

.buttonGroup {
  display: flex;

  & > button {
    margin-left: 16px;
  }
}

.content {
  margin-top: 24px;
}

.contentHeader {
  display: flex;
  align-items: center;
  padding: 5px 18px;
  background: rgb(247 248 250 / 50%);
  border: 1px solid rgb(95 98 105 / 10%);

  & > span {
    margin-right: 6px;
  }

  & > span:nth-child(1) {
    color: rgb(225 61 91 / 100%);
  }

  & > span:nth-child(3) {
    margin-top: 2px;
    color: rgb(175 176 180 / 60%);
    font-size: 12px;
  }
}

.contentJson {
  margin-bottom: 12px;
  padding: 18px;
  border: 1px solid rgb(95 98 105 / 10%);
}

.mailTest {
  display: flex;
  align-items: center;

  & > span:nth-child(1) {
    padding-top: 4px;
    color: #e02020;
  }

  & > span:nth-child(2) {
    color: #5f6269;
  }
}

.inputWrapper {
  display: flex;
  align-items: center;
  width: 314px;
  height: 32px;
  background: #f8f9fb;
  border-radius: 2px;

  & > input {
    width: 261px;
    height: 32px;
    background: #f8f9fb;
  }

  & > button {
    width: 53px;
    height: 24px;
    color: #fff;
    background: linear-gradient(59deg, #ff9378 0%, #e13d5b 100%);
    border-radius: 2px;
  }
}

.saveButton {
  position: absolute;
  right: 24px;
  display: flex;
  align-items: center;
  width: 88px;
  height: 28px;
  color: #fff;
  background: linear-gradient(56deg, #ff9378 0%, #e13d5b 100%);
  border-radius: 2px;
}

.id {
  margin-bottom: 0;
  margin-left: 12px;
  padding: 0 6px;
  color: #5f6269;
  font-size: 12px;
  background: #f7f8fa;

  & > span:nth-child(1) {
    margin-right: 20px;
  }
}

.moreContent {
  display: flex;
  flex-direction: column;
  margin: -12px -16px;
  padding: 2px 8px 2px 0;

  & .ant-popover-arrow {
    display: none;
  }

  & > button {
    display: flex;
    flex: 1 0 auto;
    align-items: center;
    padding: 0;

    & > span:nth-child(1) {
      margin: 0 8px;
    }

    & > span:nth-child(2) {
      margin: 0;
    }
  }
}
