.sider-divider {
  height: 1px;
  margin: 20px 0;
  border: 1px solid;
  border-image: linear-gradient(
    270deg,
    rgb(176 165 166 / 0%),
    rgb(188 184 184 / 63%),
    rgb(120 108 109 / 0%)
  )
    1 1;
  opacity: 0.5;
}

.logo-label {
  opacity: 1;
  transition: opacity 0.5s;

  &-collapsed {
    opacity: 0;
    transition: opacity 0.3s;
  }
}

.sider :global {
  .ant-menu-item {
    a {
      color: #5f6269;
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
    }
  }

  .ant-menu:not(.ant-menu-horizontal, .ant-menu-inline-collapsed) .ant-menu-item-icon {
    padding-left: 6px;
  }

  .ant-menu:not(.ant-menu-horizontal) .ant-menu-item-active,
  .ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
    background: linear-gradient(277deg, rgb(243 243 244 / 19%) 0%, #f3f3f4 100%);
    border-radius: 0 1px 1px 0;

    .ant-menu-item-icon {
      color: #e92e5e;
    }

    a {
      margin-left: 3px;
      color: #e92e5e;
      font-weight: 500;
    }
  }

  .ant-menu .ant-menu-item-active,
  .ant-menu .ant-menu-item-selected {
    &::before {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      width: 3px;
      background: linear-gradient(208deg, #e92b5d 0%, #f49b7c 100%);
      transform: scaleY(1);
      opacity: 1;
      content: '';
    }

    &::after {
      opacity: 0;
    }

    .ant-image img {
      padding-left: 0;
    }
  }

  .ant-menu .ant-menu-item-selected {
    padding-left: 20px !important;
  }

  .ant-layout-sider-trigger {
    background: #fbfbfb;
  }

  .ant-menu.ant-menu-inline-collapsed .ant-menu-item-selected {
    padding-left: 24px !important;

    .ant-image img {
      width: 34px;
      height: 34px;
    }

    .ant-menu-title-content {
      display: none;
    }
  }
}

.footer {
  padding: 0;
}
