.add-btn {
  color: #fff;
  background: linear-gradient(28deg, #ff9378 0%, #e13d5b 100%);
  &:hover,
  &:focus {
    color: #fff;
    background: linear-gradient(28deg, #ff9378 0%, #e13d5b 100%);
    border-color: #e13d5b;
  }
}
