/* Everything */
.graphiql-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  margin: 0;
  overflow: hidden;
  background-color: hsl(var(--color-base));
}

/** toolbar */
.graphiql-container .graphiql-toolbar {
  display: flex;
  align-items: center;
  padding: 8px 24px;
}

.graphiql-container .graphiql-toolbar-btn {
  width: 64px;
  height: 24px;
  margin: 0 4px;
  line-height: 24px;
  text-align: center;
  background: linear-gradient(180deg, #fff 0%, #f7f7f7 62%, #ebebeb 100%);
  border: 0 solid rgb(175 176 180 / 60%);
  border-radius: 2px;
  box-shadow: 0 1px 3px 0 rgb(120 125 139 / 14%);
}

.graphiql-container .graphiql-toolbar-divider {
  width: 1px;
  height: 14px;
  margin: 0 14px;
  color: #333;
  font-size: 12px;
  background: rgb(175 176 180 / 60%);
  transform: scaleX(50%);
}

/* The main content, i.e. everything except the sidebar */
.graphiql-container .graphiql-main {
  display: flex;
  flex: 1;
}

/* The current session and tabs */
.graphiql-container .graphiql-sessions {
  display: flex;
  flex: 1;
  flex-direction: column;
  max-height: 100%;
  margin: var(--px-16);
  margin-left: 0;
  background-color: hsl(var(--color-neutral) var(--alpha-background-light));

  /* Adding the 8px of padding to the inner border radius of the query editor */
  border-radius: calc(var(--border-radius-12) + var(--px-8));
}

/* The editor of the session */
.graphiql-container .graphiql-session {
  display: flex;
  flex: 1;
  padding: 0 var(--px-8) var(--px-8);
}

/* All editors (query, variable, headers) */
.graphiql-container .graphiql-editors {
  display: flex;
  flex: 1;
  flex-direction: column;
  background-color: hsl(var(--color-base));
  border-radius: calc(var(--border-radius-12));
  box-shadow: var(--popover-box-shadow);
}

.graphiql-container .graphiql-editors.full-height {
  margin-top: calc(var(--px-8) - var(--session-header-height));
}

/* The query editor and the toolbar */
.graphiql-container .graphiql-query-editor {
  display: flex;
  flex: 1;
  padding: var(--px-16);
  border-bottom: 1px solid
    hsl(var(--color-neutral) var(--alpha-background-heavy));
}

/* The query editor */
.graphiql-container .graphiql-query-editor-wrapper {
  display: flex;
  flex: 1;
}

/* The tab bar for editor tools */
.graphiql-container .graphiql-editor-tools {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--px-8);
  cursor: row-resize;
}

.graphiql-container .graphiql-editor-tools button {
  color: hsl(var(--color-neutral) var(--alpha-secondary));
}

.graphiql-container .graphiql-editor-tools button.active {
  color: hsl(var(--color-neutral) 1);
}

/* The tab buttons to switch between editor tools */
.graphiql-container .graphiql-editor-tools-tabs {
  display: flex;
  cursor: auto;
}

.graphiql-container .graphiql-editor-tools-tabs > button {
  padding: var(--px-8) var(--px-12);
}

.graphiql-container .graphiql-editor-tools-tabs > button + button {
  margin-left: var(--px-8);
}

/* An editor tool, e.g. variable or header editor */
.graphiql-container .graphiql-editor-tool {
  flex: 1;
  padding: var(--px-16);
}

/**
   * The way CodeMirror editors are styled they overflow their containing
   * element. For some OS-browser-combinations this might cause overlap issues,
   * setting the position of this to `relative` makes sure this element will
   * always be on top of any editors.
   */
.graphiql-container .graphiql-toolbar,
.graphiql-container .graphiql-editor-tools,
.graphiql-container .graphiql-editor-tool {
  position: relative;
}

/* Generic spin animation */
.graphiql-spin {
  animation: spin 0.8s linear 0s infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* Avoid showing native tooltips for icons with titles */
.graphiql-container svg {
  pointer-events: none;
}
