.parent-content {
  display: flex;

  :global {
    & .ant-select.ant-select-multiple {
      width: 100%;
      min-width: 54px;
    }
  }
}

.to-choose {
  color: rgb(175 176 180 / 50%);
}

.parent-select {
  position: relative;

  .child-select {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;

    :global {
      & .ant-select.ant-select-single {
        width: 135px;
        min-width: 54px;
        opacity: 0;
      }
    }
  }
}

.select-content {
  display: inline-flex;
  align-items: center;
  max-width: 105px;
  overflow: hidden;
}

.manual-parent-content {
  display: flex;

  :global {
    & .ant-select.ant-select-single {
      width: 135px;
      min-width: 54px;
      opacity: 0;
    }
  }
}

.save-btn {
  color: #fff;
  background: linear-gradient(28deg, #ff9378 0%, #e13d5b 100%);

  &:hover,
  &:focus {
    color: #fff;
    background: linear-gradient(28deg, #ff9378 0%, #e13d5b 100%);
    border-color: #e13d5b;
  }
}

.split {
  width: 1px;
  height: 10px;
  margin: 0 8px;
  background: rgba(95, 98, 105, 0.1);
  &:last-child {
    display: none;
  }
}

.resetBtn {
  margin-left: 8px;
  width: 64px;
  height: 24px;
  background: linear-gradient(180deg, #ffffff 0%, #f7f7f7 62%, #ebebeb 100%);
  box-shadow: 0px 1px 3px 0px rgba(120, 125, 139, 0.14);
  border-radius: 2px;
  border: 0px solid rgba(175, 176, 180, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 12px;
  color: #333;
  cursor: pointer;
}

.saveBtn {
  margin-left: 8px;
  width: 64px;
  height: 24px;
  background: linear-gradient(36deg, #ffae72 0%, #ff5e5e 100%);
  box-shadow: 0px 1px 3px 0px rgba(120, 125, 139, 0.14);
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  color: white;
  border: none;
  cursor: pointer;
}

.modeRadio {
  margin-left: 8px !important;
  :global {
    .ant-radio-button-wrapper {
      height: 24px !important;
      display: inline-flex;
      align-items: center;
      padding: 0 9px;
    }
    .ant-radio-button {
      line-height: 24px !important;
    }
    img {
      color: black;
    }
  }
}
