.connector-item-wrapper-selected {
  border: 1px solid rgb(233 46 94 / 100%);

  &::before {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    color: #fff;
    background: #e92e5e;
    content: '';
  }

  &::after {
    position: absolute;
    top: 5px;
    right: 3px;
    width: 12px;
    height: 6px;
    border-color: #fff;
    border-width: 0 0 2px 2px;
    transform: rotate(-40deg);
    content: '';
  }
}

.connector-item-wrapper-unselected {
  border: 1px solid rgb(0 0 0 / 10%);
}

.connector-item-wrapper-enabled {
  background: #f8f8f9;
}

.connector-item-wrapper-unenabled {
  cursor: pointer;
}

.connector-item-wrapper {
  position: relative;
  width: 204px;
  height: 100%;
  padding: 16px;
}

.enabled {
  position: absolute;
  top: 6px;
  right: 6px;
  padding: 2px 4px;
  color: rgb(95 98 105 / 60%);
  font-size: 12px;
  background: #fff;
}

.description {
  margin: 0;
  color: rgb(95 98 105 / 60%);
  font-size: 12px;
}

.icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 34px;
  height: 34px;
  background: #f7f8fa;
}

.title {
  margin: 8px 0;
  color: rgb(0 0 0 / 85%);
}

.platform {
  margin-left: 4px;
  font-size: 12px;
}
