.main-divider {
  height: 1px;
  border: 1px solid rgb(95 98 105 / 10%);
}

.right-data {
  span {
    width: 15px;
    height: 33px;
    color: rgb(0 0 0 / 85%);
    font-weight: 500;
    font-size: 24px;
    line-height: 33px;
  }

  p {
    width: 100px;
    height: 20px;
    color: #5f6269;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
  }
}

.bottom-data {
  span {
    height: 20px;
    margin-left: 4px;
    color: rgb(0 0 0 / 85%);
    font-size: 14px;
    line-height: 20px;
  }
}

.logo-style {
  margin-left: 10px;
  color: rgb(0 0 0 / 85%);
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
}

.skd-style {
  height: 22px;
  color: rgb(0 0 0 / 85%);
  font-size: 16px;
  line-height: 22px;
}

.top-head {
  height: 22px;
  margin-bottom: 26px;
  color: rgb(0 0 0 / 85%);
  font-size: 16px;
  line-height: 22px;
}
