.main-divider {
  margin: 28px 0 0 24px;
}

.right-data {
  span {
    width: 15px;
    height: 33px;
    font-size: 24px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.85);
    line-height: 33px;
  }
  p {
    width: 100px;
    height: 20px;
    font-size: 14px;
    font-weight: 400;
    color: #5f6269;
    line-height: 20px;
  }
}

.bottom-data {
  span {
    margin-left: 4px;
    height: 20px;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.85);
    line-height: 20px;
  }
}
.logo-style {
  margin-left: 10px;
  font-size: 16px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.85);
  line-height: 22px;
}
.skd-style {
  height: 22px;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.85);
  line-height: 22px;
}
.top-head {
  height: 22px;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.85);
  line-height: 22px;
  margin-bottom: 26px;
}
