/* stylelint-disable selector-class-pattern */
.global :global {
  .graphiql-container .topBar {
    height: auto;
  }

  .docExplorerWrap .doc-explorer-title-bar {
    height: auto;
  }

  .docExplorerWrap > .doc-explorer-title-bar > .doc-explorer-rhs {
    display: none;
  }
}
