.title {
  width: 72px;
  height: 25px;
  color: #000;
  font-size: 18px;
  line-height: 25px;
}

.select {
  width: 100%;
}

.actions {
  display: flex;
  justify-content: space-between;
  margin-bottom: 28px;
}

.manage {
  border-top: 1px solid rgb(92 87 87);
}

.option-icon {
  margin-right: 10px;
}

.actions > :hover {
  opacity: 0.6;
}

.select-contain {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 24px;
}

/* stylelint-disable-next-line no-descending-specificity */
.delete-label :global {
  .ant-divider-horizontal {
    display: none;
  }
}

// Container-style
.save-btn {
  height: 28px;
  padding: 0 10px;
  font-size: 14px;
  background: linear-gradient(56deg, #ff9378 0%, #e13d5b 100%);
  border-radius: 2px;

  &:hover,
  &:focus {
    color: rgb(233 92 127);
    background: linear-gradient(56deg, #ff9378 0%, #e13d5b 100%);
    border-color: #e13d5b;
  }

  span {
    color: #fff;
    font-size: 14px;
    line-height: 18px;
  }
}

.connect-check-btn-common {
  height: 28px;
  padding: 0;
  background: #fff;
  border-radius: 2px;

  span {
    font-size: 14px;
    line-height: 18px;
  }
}

.user-info :global {
  margin-top: -10px;

  span {
    height: 36px;
    color: #000;
    font-weight: 600;
    font-size: 32px;
    line-height: 36px;
  }

  p {
    height: 16px;
    color: #afb0b4;
    font-size: 12px;
    line-height: 16px;
  }
}
