.pannel {
  padding: 0 16px;
  font-weight: 500;
  font-size: 18px;
}

.title {
  margin-top: 24px;
  margin-bottom: 24px;
  font-size: 16px;
}

.select {
  width: 100%;
}

.actions {
  display: flex;
  justify-content: space-between;
  margin-bottom: 28px;
}

.manage {
  border-top: 1px solid rgb(92 87 87);
}

.option-icon {
  margin-right: 10px;
}

.actions > :hover {
  opacity: 0.6;
}

.select-contain {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 24px;
}

/* stylelint-disable-next-line no-descending-specificity */
.delete-label :global {
  .ant-popover-content .ant-popover-arrow {
    display: none;
  }
}

.add-btn {
  color: #fff;
  background: linear-gradient(28deg, #ff9378 0%, #e13d5b 100%);

  &:hover,
  &:focus {
    color: #fff;
    background: linear-gradient(28deg, #ff9378 0%, #e13d5b 100%);
    border-color: #e13d5b;
  }
}

.dropdown-icon {
  display: flex;
  align-items: center;
  height: 30px;
  margin-right: -8px;
  padding-left: 8px;
  border-left: 1px solid rgb(255 255 255 / 60%);
}
