.tabs {
  :global {
    .ant-tabs-ink-bar {
      display: none !important;
    }
    .ant-tabs-nav {
      padding: 8px 0;
    }
    .ant-tabs-tab {
      margin: 0 !important;
      padding: 4px 0 4px 12px !important;
    }
  }
}