.fullscreen {
    background-color: #fff;
}

.ide-container :global {
    width: 100%;
    border: 1px solid #efefef;
}

.code-wrapper :global {
    min-width: calc(100% - 24%);
    @media (max-width: 1980px) {
        min-width: calc(100% - 34%);
    }
}
