// setting-main-appearance
.picture-box :global {
  .ant-image {
    width: 100px;
    height: 70px;
    margin: 24px 36px 10px 0;
    border-radius: 2px;
  }
}

// setting-main-security
.item-label {
  height: 16px;
  font-size: 14px;
  font-weight: 400;
  color: #000000;
  line-height: 16px;
}

.setTitle {
  height: 17px;
  font-size: 12px;
  font-weight: 400;
  margin-left: 17px;
  color: rgba(0, 0, 0, 0.25);
  line-height: 17px;
}
// setting-main-version
.descriptions-box :global {
  .ant-descriptions-item {
    height: 45px;
  }
  width: 1650px;
  border-radius: 4px;
  .descriptions-small .ant-descriptions-row > td {
    padding-bottom: 20px;
  }
}

.check-info {
  font-size: 12px;
  color: #e92e5e;
  margin-left: 24px;
}

// setting-main-environment-variable
.modal-save-btn {
  background: linear-gradient(40deg, #ff9378 0%, #e13d5b 100%);
  border-radius: 4px;
}

.variable-btn {
  width: 88px;
  height: 28px;
  background: linear-gradient(56deg, #ff9378 0%, #e13d5b 100%);
  border-radius: 2px;

  &:hover,
  &:focus {
    color: rgb(233 92 127);
    background: linear-gradient(56deg, #ff9378 0%, #e13d5b 100%);
    border-color: #e13d5b;
  }

  span {
    width: 64px;
    height: 20px;
    color: #fff;
    font-size: 14px;
  }
}

.save-env-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 72px;
  height: 32px;
  padding: 0;
  background: linear-gradient(40deg, #ff9378 0%, #e13d5b 100%);
  border-radius: 4px;
  color: #fafafa;
  font-size: 14px;
  font-weight: 500;

  &:hover,
  &:focus {
    background: linear-gradient(56deg, #ff9378 0%, #db5d74 100%);
    border-color: #e13d5b;
  }

  span {
    letter-spacing: 4px;
    width: 33px;
    line-height: 20px;
  }
}

.authSetFrom :global {
  .ant-form-item {
    margin-bottom: 16px;
  }
  .ant-form-item-control-input {
    height: 32px;
    border-radius: 2px;
    border: 1px solid rgba(0, 0, 0, 0.1);
  }
  .anticon-plus {
    width: 13px;
    height: 13px;
    color: rgba(175, 176, 180, 0.8);
  }
  span {
    width: 48px;
    height: 17px;
    font-size: 12px;
    color: #afb0b4;
    line-height: 17px;
  }
}
.ant-modal-title {
  width: 96px;
  height: 22px;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
}

// setting-main-system
.switch-edit-btn {
  width: 32px;
  height: 16px;
  background-color: #8abe2a;
  border-radius: 12px;
}
.edit-btn {
  padding: 0;
  width: 62px;
  height: 32px;
  background: linear-gradient(56deg, #ff9378 0%, #e13d5b 100%);
  border-radius: 2px;
  margin-left: 215px;
  margin-top: 10px;

  &:hover,
  &:focus {
    color: rgb(233 92 127);
    background: linear-gradient(56deg, #ff9378 0%, #e13d5b 100%);
    border-color: #e13d5b;
  }

  span {
    width: 33px;
    height: 20px;
    color: #fff;
    font-size: 14px;
  }
}

.item-label {
  height: 16px;
  font-size: 14px;
  font-weight: 400;
  color: #000000;
  line-height: 16px;
}

.form-contain :global {
  .ant-form-item-label {
    padding: 0;
  }
  .ant-form-item {
    margin-bottom: 20px;
  }
  Input {
    width: 90%;
  }
}

.security-form-contain :global {
  .ant-form-item {
    margin-bottom: 10px;
    padding-top: 5px;
  }
}

.form-delete-icon {
  fill: currentColor;
  position: relative;
  top: 4px;
  margin: 0 8px;
  color: #ff9378;
  font-size: 24px;
  cursor: pointer;
  transition: all 0.3s;
  &:hover {
    color: #777;
  }
  &[disabled] {
    cursor: not-allowed;
    opacity: 0.5;
  }
}
