.casader-select :global {
  z-index: 999;
  box-shadow: none;

  .ant-cascader-menu-item {
    background-color: white;

    &:hover,
    &:focus {
      background-color: #f8f8f9;
    }
  }

  .anticon-right {
    visibility: hidden;
  }

  .ant-cascader-menus {
    max-width: calc(100vw - 800px);

    // height: 100%;
    overflow-x: auto;
    overflow-y: hidden;
  }

  .ant-cascader-menu {
    min-width: 232px;
    max-width: 270px;
    height: 100%;
  }
}

.upload :global {
  .ant-upload-list-text-container {
    display: none;
  }
}
