.save-btn {
  width: 62px;
  height: 32px;
  background: linear-gradient(56deg, #ff9378 0%, #e13d5b 100%);
  border-radius: 2px;

  &:hover,
  &:focus {
    color: rgb(233 92 127);
    background: linear-gradient(56deg, #ff9378 0%, #e13d5b 100%);
    border-color: #e13d5b;
  }

  span {
    width: 33px;
    height: 20px;
    color: #fff;
    font-size: 14px;
  }
}

.center-btn {
  width: 62px;
  height: 32px;
  margin-right: 16px;
  margin-left: 24px;
  border: 1px solid rgb(0 0 0 / 10%);
  border-radius: 2px;
}

.switch-check-btn {
  width: 60px;
  height: 24px;
  margin-right: 24px;
  background-color: #8abe2a;
  border-radius: 12px;
}

.ssl-open-btn {
  width: 48px;
  height: 22px;
  margin-right: 80px;
  padding: 0;
  color: #8abe2a;
  font-weight: 400;
  font-size: 12px;
  line-height: 22px;
  background: rgb(138 190 42 / 9%);
  border: 1px solid #8abe2a;
  border-radius: 4px;
}

.ssl-close-btn {
  width: 48px;
  height: 22px;
  padding: 0;
  color: rgb(175 176 180 / 80%);
  font-weight: 400;
  font-size: 12px;
  line-height: 22px;
  background: #f8f8f9;
  border: 1px solid rgb(175 176 180 / 50%);
  border-radius: 4px;

  &:hover,
  &:focus {
    color: #e13d5b;
    border-color: #e13d5b;
  }
}

.switch-set-btn {
  width: 32px;
  height: 16px;
  margin-left: 12px;
  background-color: #8abe2a;
  border-radius: 12px;
}

.form-contain :global {
  .ant-form-item {
    margin-bottom: 20px;
  }
}

// filestorage-main-content 样式
.casader-select :global {
  box-shadow: none;

  .ant-cascader-menu-item {
    background-color: white;

    &:hover,
    &:focus {
      background-color: #f8f8f9;
    }
  }

  .anticon-right {
    visibility: hidden;
  }

  .ant-cascader-menu {
    width: 232px;
  }
}

.panel-style {
  img {
    margin-bottom: 9px;
  }

  button {
    width: 257px;
    margin-top: 12px;
  }
}

.form-item-icon {
  width: 14px;
  height: 14px;
  color: #5f6269;
}
