@import 'antd/dist/antd.css';

html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: PingFangSC-Regular, "PingFang SC";
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: #e92e5e;
}

* {
  box-sizing: border-box;
}
